<form class="ui  segment form" action="/viewuser/addcomment/{{id}}" method="POST">
  <div class="two fields">
    <div class = "field">
    <input placeholder="^^ Enter comment" type="text" name="comment">
  </div>
    <div class = "field">
  <button class="ui tiny blue submit button">Add Comment</button>
    </div>
  </div>
</form>
