<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Gym Web App Trainer View </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/trainerdashboard"> Trainer Dashboard  </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>