{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    ICT Skills Gym Web App
  </h3>
  <p>
    An app for keeping track of gym members and managining their data.
  </p>
</section>