{{> menutrainerversion id="viewuser"}}

<section class="ui segment">
  {{> headdisplay}}
  {{> trainerlistassessments}}
  {{> traineraddassessment}}
  {{> listgoalstrainer}}
  {{> addgoaltrainer}}

</section>
